[name="guide"]{
    margin:20px;
    summary{
        background:rgb(46, 46, 46);
        color:#fff4f4;
        font-size:20px;
        padding:10px;

    }
    ~ details{
        margin-top:20px;
    }
    &[open]{
        border:1px solid rgb(46, 46, 46);
        summary + * {
            padding:10px;
            font-size:14px;
        }
        h2{
            padding-block:10px;
        }
    }

    .guide-btngroups{display:flex;flex-wrap:wrap;gap:10px;padding:10px;align-items: center;background: var(--GrayScale-Background, #F8F8F8);}
}