@use "../abstracts/" as *;
@use "sass:list";

$formSetting: (
    "height":rem(56),
    "border":rem(1) solid $grayscale-input-bg,
    "borderRadius":rem(8),
    "bgColor":$grayscale-input-bg,
    "paddingInline":rem(24),
    "fontColor":$grayscale-label,
    "fontSize":rem(16),
    "fontWeight":500,
    "lineHeight":rem(24),
    "letterSpacing":rem(-.5),
    "placeholderColor":$grayscale-label,
    "disableBgColor":rgba($grayscale-input-bg, .5),
    "focusColor":$grayscale-label,
    "activeBgcolor":$grayscale-off-white,
    "inputTitcolor":$grayscale-placehoder,
    "captionColor": $grayscale-placehoder,
    "captionFontSize" : rem(13),
    "success" : $success-default,
    "error" : $error-default,
);

$selectSetting:(
    "height" :rem(45),
    "borderRadius" : rem(8),
    "bgColor":$grayscale-input-bg,
    "bgUrl":"btn_select.svg",
    "iconPosition":rem(12),
    "bgWidth":24,
    "paddingInline":12,
    "fontColor":$grayscale-body,
    "focusColor":$primary-default,
    "borderColor":$grayscale-input-bg,
);


$radioCheckSetting:(
    1:(
        "className" : ".check-type1",
        "borderColor" : $grayscale-placehoder,
        "borderRadius" : rem(4),
        "backgorundColor" : $primary-dark-mode,
        "onImage" : "ico_check.svg",
        "width" : rem(24),
        "height":rem(24),
        "disabledColor" :$grayscale-line,
        "disabledBg":$grayscale-line,
    ),
    2:(
        "className" : ".check-type2",
        "borderColor" :$primary-dark,
        "borderRadius" : rem(4),
        "backgorundColor" : $primary-dark,
        "onImage" : "ico_check.svg",
        "width" : rem(24),
        "height":rem(24),
        "disabledColor" :$grayscale-line,
        "disabledBg":$grayscale-line,
    )

);

%form{
    height:map-get($formSetting, height);
    border:map-get($formSetting,border);
    box-sizing: border-box;
    border-radius:map-get($formSetting,borderRadius);
    background-color:map-get($formSetting,bgColor);
    padding-inline:map-get($formSetting, paddingInline);
    color:map-get($formSetting, fontColor);
    font-size: map-get($formSetting, fontSize);
    line-height: map-get($formSetting, lineHeight);
    letter-spacing: map-get($formSetting, letterSpacing);
    outline:none;
    + .input-tit{
        visibility: hidden;
        position: absolute;
        left: rem(24);
        top: 50%;
        transform:translateY(-50%);
        transition: 0.2s ease all;
        line-height:rem(20);
    }

    &::placeholder{
        color:map-get($formSetting, placeholderColor);
    }
    &:disabled{
        opacity:.5;
    
    }
    &:focus{
        border-color:map-get($formSetting, focusColor);
        background-color:map-get($formSetting, activeBgcolor);
    }
    &.active{
        padding-top:rem(16);
        :where(.success) &{
            border-color:map-get($formSetting, success);
            background-color:map-get($formSetting, activeBgcolor);
        }
        :where(.error) &{
            border-color:map-get($formSetting, error);
            background-color:map-get($formSetting, activeBgcolor);
        }
        + .input-tit{
            visibility: visible;
            top: rem(6);
            transform:translateY(0);
            font-size:rem(14);
            color:map-get($formSetting, inputTitcolor);
        }
        :where(.success) & + .input-tit{
            color:map-get($formSetting, success);
        }
        :where(.error) & + .input-tit{
            color:map-get($formSetting, error);
        }
    }
    :where(.success) &{
        border-color:map-get($formSetting, success);
        background-color:map-get($formSetting, activeBgcolor);
    }
    :where(.error) &{
        border-color:map-get($formSetting, error);
        background-color:map-get($formSetting, activeBgcolor);
    }

}

%label{
    display:inline-flex;
    gap:rem(4);
    align-items: center;

    color:$grayscale-label;
    font-size: rem(12);
    line-height: rem(12);
    letter-spacing: rem(-.5);
}

%select{
    outline: none;
    $result:map-get($selectSetting, paddingInline) * 2 + map-get($selectSetting, bgWidth);
    height:map-get($selectSetting,height);
    border-radius:map-get($selectSetting,borderRadius);
    border:rem(1) solid map-get($selectSetting,borderColor);
    @include background(map-get($selectSetting, bgUrl), right map-get($selectSetting, iconPosition) center, map-get($selectSetting,bgColor), rem(map-get($selectSetting,bgWidth)));
    appearance: none;
    padding-inline: rem(map-get($selectSetting, paddingInline));
    color:map-get($selectSetting,fontColor);
    &:focus{
        border-color:map-get($selectSetting,focusColor);

    }
}

.input-wrap{
    position:relative;
    font-weight:map-get($formSetting, fontWeight);

    & > .btn-textdel{
        @include position(a, right, rem(16), top, 50%);
    }
    &:has(.btn-textdel){
       input{
        padding-inline:rem(24) rem(56);
       }
    }

}
.input{
    @extend %form;
    width:var(--w, 100%);

}

.input-caption{
    color:map-get($formSetting, captionColor);
    font-size:map-get($formSetting , captionFontSize);
    padding-inline:map-get($formSetting, paddingInline);
    line-height:rem(22);
    .success & {
        color:map-get($formSetting, success);
    }
    .error &{
        color:map-get($formSetting, error);
    }
}

.select{
    @extend %select;
    width:var(--w, 100%);
}




@mixin Radio($mapName, $index){

    #{map-get($mapName, $index, className)}{
        @include ally-hidden;
        + label{
            @extend %label;
                &::before{                    
                    content:'';
                    width:map-get($mapName, $index, width);
                    height:map-get($mapName, $index, height);
                    border:rem(1) solid map-get($mapName, $index, borderColor);
                    border-radius:map-get($mapName, $index, borderRadius);
                }
        }
        &:checked{
            + label{
                &::before{
                    @include background(map-get($mapName, $index, onImage), center);
                    background-color:map-get($mapName, $index, backgorundColor);
                    border:rem(1) solid map-get($mapName, $index, backgorundColor);
                }
            }
            &:disabled{
                + label{
                    &::before{
                      background-color:map-get($mapName, $index, disabledColor)
                    }  
                  }
            }
        }
        &:disabled{
            + label{
              &::before{
                border-color:map-get($mapName, $index, disabledColor)
              }  
            }
        }
    }
}


@for $idx from 1 through list.length($radioCheckSetting) {
    @include Radio($radioCheckSetting, $idx);
}