@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

html{
      font-size:62.5%;
}
body{
    font-size: 1rem;
    font-family:  "Epilogue", sans-serif;
    font-weight:400;
}
