@use '../variable' as *;
@use '../function' as *;



@mixin button($method, $btnheight, $btnradius , $fontweight, $fontsize, $btnbg:null, $fontcolor, $bordercol:null){
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height:rem($btnheight);
    line-height:rem($btnheight);
    border-radius:rem($btnradius);
    font-weight:$fontweight;
    font-size:rem($fontsize);
    background:$btnbg;
    color:$fontcolor;

    @if $method == 'line' {
        border: 1px solid transparent;
        background-image: $bordercol;
        background-origin: border-box;
        background-clip: content-box, border-box;
    }@else if $method == 'bg' {
        border:none;
    }@else{
        @error "방식(line or bg), height, buttonradius, fontweight, fontsize, background, color, bordercolor 순서로 넣어주세요 "
    }
}