@use 'position' as *;



@mixin underline($bottom, $borderWidth, $borderColor) {
    position: relative;
    &::after {
      @include position(a, left, 0, bottom, $bottom);
      content: "";
      width: 100%;
      border-bottom: $borderWidth solid $borderColor;
    }
  }