
$imgUrl : "../images/";

/* Colors */
$button: linear-gradient(
  267.61deg,
  rgba(119, 8, 190, 1) 37.75198459625244%,
  rgba(0, 0, 234, 1) 68.48435401916504%
);

$white:#fff;
$grayscale-title-active: #222;
$grayscale-body: #333;
$grayscale-label: #555;
$grayscale-placehoder: #888;
$grayscale-line: #dcdcdc;
$grayscale-input-bg: #f0f0f0;
$grayscale-background: #f8f8f8;
$grayscale-off-white: #fcfcfc;
$primary-default: #002ef1;
$primary-dark: #0000ea;
$primary-dark-mode: #005cff;
$secondery-default: #ffb802;
$secondery-dark: #ff9700;
$secondery-dark-mode: #ffe604;
$error-default: #fe3f61;
$error-dark: #fd0025;
$error-dark-mode: #ff7e86;
$success-default: #009846;
$success-dark: #02971c;
$success-darkmode: #36ea88;
$warning-default: #ff6711;
$warning-dark: #eb3800;
$warning-darkmode: #ff9922;
$gradient-primary:linear-gradient(108deg, #0000EB -2.53%, #004BFB 106.16%);

$gradient-secondery:  linear-gradient(108deg, #FF9C00 -2.53%, #FFDB03 123.11%);
$gradient-accent:  linear-gradient(114deg, #0038F5 0%, #9F03FF 100%);
$gradient-accent2: 
  linear-gradient(#fff, #fff), 
  linear-gradient(to right, rgba(0, 56, 245, 1) 0%,  rgba(159, 3, 255, 1) 100%)
;
$gradient-black: linear-gradient(
  90deg,
  rgba(67, 67, 67, 1) 0%,
  rgba(0, 0, 0, 1) 100%
);


/* Effects */
$dropshadow-box-shadow: 0px 8px 24px 0px rgba(69, 69, 69, 0.06);
$smooth-shadow-box-shadow: 0px 10.14px 13.27px 0px rgba(0, 0, 0, 0.03), 0px 81px 106px 0px rgba(0, 0, 0, 0.07);
  
  